name: PR Commands

on:
  issue_comment:
    types: [created, edited, deleted]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  handle-command:
    name: Handle PR Command
    if: |
      github.event.issue.pull_request &&
      github.event.comment.user.type != 'Bot'
    runs-on: ubuntu-24.04
    steps:
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Run Smyklot
        uses: docker://ghcr.io/bartsmykla/smyklot:1.1.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          COMMENT_BODY: ${{ github.event.comment.body }}
          COMMENT_ID: ${{ github.event.comment.id }}
          COMMENT_ACTION: ${{ github.event.action }}
          PR_NUMBER: ${{ github.event.issue.number }}
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
          COMMENT_AUTHOR: ${{ github.event.comment.user.login }}
          SMYKLOT_CONFIG: ${{ vars.SMYKLOT_CONFIG }}
